@import "variables";
.footer {
  border-bottom: 2px solid rgba(207,215,223,.25);
  border-top: 2px solid rgba(207,215,223,.25);
  margin: 25px 0 0;
  padding: 0px 0px 30px 0;
  background-color: rgba(148, 151, 154, 0.25);

  h6 {
    color: $footer-heading-colour;
    font-weight: 800;
  }

  .black-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    opacity: 0.7;
    width: 100%;
    height: 25px;
    margin-bottom: 30px;
    color: $white;
  }

  ul {
    padding: 0px;
    list-style: none;
    li {
      padding: 3px 0px;
      a {
        color: $color-black;
      }
      a:hover {
        color: $color-black-light;
        text-decoration: none;
      }
    }
  }
}
