@import "variables";

.breadcrumb{
  border-radius: 0px;
}

a.nav-link {
  text-transform: uppercase;
  font-size: 11px;
}

.breadcrumb li {
  color: $white;
}

div#total_percapita_emissions_map {
  background-color: transparent !important;
  background-position: 39% 43%;
}

a.nav-link.active {
  background-color: $brand;
  color: #fff !important;
}

.bg-grey {
  background-color: $navbar-bg-colour !important;
}

.navbar-light .navbar-brand{
  padding: 0;
}

.nav-item{
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}

.nav-item .nav-link{
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mt-16{
  margin-top: 16px;
}
